# multiple api keys to avoid heavy rate limit for free users
GOOGLE_API_KEY_0=API_KEY_HERE
GOOGLE_API_KEY_1=API_KEY_HERE
GOOGLE_API_KEY_2=API_KEY_HERE
GOOGLE_API_KEY_3=API_KEY_HERE
GOOGLE_API_KEY_4=API_KEY_HERE

# optional (but recommended choice of provider as you can easily change models)
OPENROUTER_MODEL_API=API_KEY_HERE

# for data collection
REDDIT_CLIENT_ID=API_KEY_HERE
REDDIT_CLIENT_SECRET=API_KEY_HERE
REDDIT_USER_AGENT=API_KEY_HERE

FINNHUB_API_KEY=API_KEY_HERE
LINKUP_API_KEY=API_KEY_HERE
